<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820398914688-rpti8d5o81i4jlsbu4giach5f23ufgrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820398914688-rpti8d5o81i4jlsbu4giach5f23ufgrd</string>
	<key>API_KEY</key>
	<string>AIzaSyBX8T9z9qh13s5Jth5KOrOQCM56Fa7S2DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>820398914688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vl.ViiMe</string>
	<key>PROJECT_ID</key>
	<string>viime-a14cf</string>
	<key>STORAGE_BUCKET</key>
	<string>viime-a14cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820398914688:ios:a42cc72a8fdd0404</string>
	<key>DATABASE_URL</key>
	<string>https://viime-a14cf.firebaseio.com</string>
</dict>
</plist>